{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}



{% block head %} 
<title>Task Heaven | Features</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %} 

{% block content %}
<div class="container mb3 col-8 p-5 shadow-lg rounded-2">
    <h2>Task Heaven - Features</h2>     
    <br>
    <h4>Task management</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        <br>Nulla porttitor massa id neque aliquam vestibulum. Vel quam elementum pulvinar etiam.</p>
    <h4>Reminders and notifications</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        <br>Nulla porttitor massa id neque aliquam vestibulum. Vel quam elementum pulvinar etiam.</p>
    <h4>Customizable views</h4> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        <br>Nulla porttitor massa id neque aliquam vestibulum. Vel quam elementum pulvinar etiam.</p>
    <h4>File and attachment support</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        <br>Nulla porttitor massa id neque aliquam vestibulum. Vel quam elementum pulvinar etiam.</p>
    <h4>Prioritization and categorization</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        <br>Nulla porttitor massa id neque aliquam vestibulum. Vel quam elementum pulvinar etiam.</p>
</div>
{% endblock %}