{% extends 'tasks/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
<title>Task Heaven | Tasks</title>
{% endblock %}

{% block content %}
{{ navbar }}
<div class="container-fluid mb3 col-8 p-4 border border-1 shadow-sm text-center" >
    <h2>All my Tasks</h2>
    <br>
    <div class="btn-group" role="group">
        <a  href="{% url 'create' %}" type="button" class="btn btn-dark ">Create a new Task</a>
        <a href="{% url 'dashboard' %}" type="button" class="btn btn-secondary">Dashboard</a>
    </div>
    <hr>

    {% for task in AllTasks %}
    <br>
    <div class="container mb3 border border-1 rounded-2  col-6 p-4 shadow-sm text-center">

        <h5 class="text-secondary">{{ task.title }}</h5>
        <br>
        {{ task.content }}
        <br>
        <em>{{ task.date_created }}</em>
        <hr>
        <a href="{% url 'edit-task' task.id %}" class="btn btn-warning" type="button">Edit Task</a>
        <a href="{% url 'delete-task' task.id %}" class="btn btn-danger" type="button">Delete Task</a>
   
    </div>

    <br>
    {% endfor %}
</div>

{% endblock %}
