{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% block head %} 
<title>Task Heaven | Contact</title>
{% endblock %} 


{% block content %}

{% comment %} Shows a message when account successfully created {% endcomment %}
{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <p id="message-timer" class="alert alert-success float-center text-center">{{ message }}</p>
    {% endif %}
{% endfor %}

<div class="container mb3 col-6 p-5  shadow-lg text-center rounded-2">
    <h3>Contact</h3>
    <form class='form-control border border-0 col-3 p-4 ' method='POST' autocomplete='off'>
        {% csrf_token %}
        {{ ContactForm | crispy }}
        <button class="btn btn-success " type='submit'>Send</button
    </form>
</div>

<script>
    {% comment %} Script for the Message time {% endcomment %}
    document.addEventListener('DOMContentLoaded', function() {
        let message_timeout = document.getElementById('message-timer');
    
        setTimeout(function() {
            message_timeout.style.display = 'none';
        }, 3000);
    });
</script>
{% endblock %}
