{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}



{% block head %} 
<title>Task Heaven | Create Task</title>
{% endblock %} 

{% block content %}
{{navbar}}


<div class="container mb3 col-5 p-4 shadow-sm border border-1 rounded-2 text-center">
    <h3>Create a new task</h3>

    <form class='form-control border border-0' method="POST" autocomplete="off">
        {% csrf_token %}
        {{ CreateTaskForm|crispy}}
        <button class="btn btn-success mt-3 mb-0 " type='submit'>Create task</button>
        <a href="{% url 'dashboard' %}" class="btn btn-dark mt-3 mb-0 " type='button'>Cancel</a>
    </form>
</div>

{% endblock %}