{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}



{% block head %} 
<title>Task Heaven | Dashboard</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %} 

{% block content %}
{{navbar}}
<div class="container mb3 col-8 p-5 text-center">

    <h2>Dashboard</h2>
    <br>
    <div class="btn-group" role="group">
        <a  href="{% url 'all-tasks' %}" type="button" class="btn btn-secondary">My Tasks</a>
        <a href="{% url 'user-management' %}" type="button" class="btn btn-dark">Profil Seetings</a>
        <a href="{% url 'contact' %}" type="button" class="btn btn-secondary">Support</a>
      </div>
</div>
{% endblock %}