{% extends 'tasks/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% block head %}
<title>Task Heaven | Edit task</title>
{% endblock %}

{% block content %}
{{ navbar }}

<div class="container mb3 col-5 p-4 shadow-m border border-1 rounded-2 text-center">
    <h3>Update task</h3>
    <form class='form-control border border-0' method="POST" autocomplete="off">
        {% csrf_token %}
        {{ EditTask|crispy}}
        <button class="btn btn-success " type='submit'>Update task</button>
        <a href="{% url 'all-tasks' %}" class="btn btn-secondary " type='button'>Cancel</a>
    </form>
</div>

{% endblock %}
