{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}


{% block head %} 
<title>Task Heaven | Reset password</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %} 


{% block content %}


<div class="container mb3 col-6 p-4  shadow-sm text-center rounded-2">
    <h3>Password reset complete</h3>
    <p>You can now login to your account</p>
    <a href="{% url 'login' %}" class="btn btn-outline-success" type="button">Login</a>
</div>

{% endblock %}
