{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}



{% block head %} 
<title>Task Heaven | Register</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %} 


{% block content %}
    <div class="container col-5 shadow-lg rounded-2 ">
        <form class='form-control border border-0 col-3 p-5 '  method='POST' autocomplete='off'>
            {% csrf_token %}
            {{RegistrationForm|crispy}}
            <button class="btn btn-dark" type='submit'>Create account</button>
        </form>
    </div>
{% endblock %}