{% extends 'tasks/base.html' %} 
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}



{% block head %} 
<title>Task Heaven | Management</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %} 

{% block content %}
{{navbar}}
<div class="container-sm mb-3 text-center">

    <h2>User Management</h2>
    <br>
    <div class="container mb-3 col-6 border border-1 shadow-sm rounded-2 p-4">
        <form class='form-control border border-0' method='POST' autocomplete='off'>
            <h3>Update your username or email</h3>
            <br>
            {% csrf_token %}
            {{ UserUpdateForm|crispy }}
            <button class="btn btn-success mt-3" type='submit'>Update Profile</button
        </form>
        <br>
    </div>
    <div class="container mb-3 col-6 border border-1 shadow-sm  rounded-2 p-4">
        <br>
        <form class='form-control' method='POST' autocomplete='off' enctype="multipart/from-data">
            <h3>Update your Profile Picture</h3>
            <br>
            {% csrf_token %}
            {{ PictureUpdateForm|crispy }}
            <button class="btn btn-success mb-3 mt-3" type='submit'>Upload Picture</button
        </form>
        <br>
    </div>
    <div class="container mb-3 col-6 border border-1 shadow-sm  rounded-2 p-4">
        <br>
        <h3>Account settings</h3>
        <br>
        <a href="{% url 'reset_password' %}" class="btn btn-warning mb-3 mt-3">Reset Password</a>
        <a href="{% url 'delete-account' %}" class="btn btn-danger mb-3 mt-3" type="button">Delete Account</a>
    </div>
    
</div>

{% endblock %}